.section_recipes {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.image_background{
  width: 100%;
  height: 27%;
}
.img_recipe {
  width: 33%;
  height: auto;
  position: absolute;
  top: 108px;
  z-index: -99;
}

.name_recipe {
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
}
.data_recipe{
  height: 30%;
  text-align: center;
  margin-top: 1rem;
  overflow-y: scroll;
  /* scroll-behavior: smooth; */
}

.category_data {
  text-align: center;
  margin-top: .5rem;
}

.price_recipe {
  font-weight: 900;
  color: #FFC700;
  font-size: larger;
}

.btn_close {
  background-color: #FFC700;
  width: 100%;
  height: 7%;
  outline: none;
  font-weight: 800;
  border: none;
  font-size: 1.2em;
  margin-top: .5rem;
}
